.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
}

.top{
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #7C7C7C;
}
.left{
    display: flex;
}
.rigth{
    display: flex;
}
.auth{
    border-left: 1px solid #7C7C7C;
    margin-left: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.mail{
    font-size: 24px;
    color: #FF6B6B;
}
.icons{
    padding-left: 5px;
    color: #7C7C7C;
    font-size: 24px;
}
.person{
    color: #FF6B6B;
    font-size: 32px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #484848;
}
p{
    color: #7C7C7C;
    margin: 0;
    padding: 0;
    padding-left: 7px;
}
.cart{
    font-size: 32px;
    padding-left: 10px;
    text-decoration: none;
    color: #484848;
}
.pages{
    display: flex;
    align-items: center; 
}
.links{
    display: flex;
}
.links a{
    padding-left: 10px;
    color: #7C7C7C;
    font-size: 17px; 
    text-decoration: none;
}
.links a:hover{
    color: #7C7C7C;
    text-decoration: underline;
}

.menu__btn{
    display: none;
    position: relative;
    width: 25px;
    height: 25px;
    padding: 0 20px;
    cursor: pointer;
}
.menu__btn::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 25px;
    height: 1px;
    background-color: #FF6B6B;
}
.senond{
    width: 25px;
    height: 1.5px;
    background-color: #FF6B6B;
    top: 12.5px;
    position: absolute;
}
.menu__btn::before{
    content: '';
    position: absolute;
    top: 0;
    width: 25px;
    height: 1.5px;
    background-color: #FF6B6B;
}

@media screen and (max-width: 790px){
    .menu__btn{
        display: block;
    }
    .links{
        display: none;
    }
}
@media screen and (max-width: 490px){
    .rigth{
        display: none;
    }
    .top{
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
    }
}