.cart{
    min-height: calc(100vh - 240px);
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.goods{
    width: 90%;
    margin: 0 auto;
}
@media screen and (max-width: 1140px){
    .block{
        margin-left: 20px;
    }
}
