// style={{minHeight: 'calc(100vh - 240px)'}}
.home{
    min-height: calc(100vh - 240px);
}
.containet{
    max-width: 1140px;
    margin: 0 auto;
}
.goods{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 750px){
    .goods{
        display: flex;
        justify-content: space-around;
    }
}