.carts{
    box-shadow: 5px 5px 8px #FF6B6B;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 110px;
    padding: 0 10px;
    margin-top: 15px;
}
.top{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.botton{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.count{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    width: 45px;
    font-size: 24px;
}
.countsIcon{
    display: flex;
    flex-direction: column;

}
.icon{
    font-size: 24px;
    color: #FF6B6B;
    cursor: pointer;
}
.delete{
    font-size: 28px;
    color: #FF6B6B;
}
@media screen and (max-width: 490px){
    .carts{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding-top: 10px;
    }
    .top{
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }
    .botton{
        width: 90%;
    }
}